/* Header */

.jumb1 {

   background-image: url(Pictures/Hamburger-French-fries-ConvertImage.png);
   background-position: center;
   background-size: cover;
   width: 100%;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
}

.dancingFont1 {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 600%;
  padding-top: 5%;
  text-align: center;
}

.courgetteFont1 {
  font-family: 'Courgette', cursive;
  color: black;
  font-size: 300%;
  padding-top: 10%;
  text-align: center;
}


/* Pure Style */


.courgetteFont {
  font-family: 'Courgette', cursive;
}

.green {
  color: #9ACD32;
  font-family: 'Courgette', cursive;
  font-size: 140%;
}

.dancingFont {
  font-family: 'Dancing Script', cursive;
}

.ssp {
  font-family: 'Source Sans Pro', sans-serif;
}


/* Main */

.card {
  background-color: #9ACD32 !important;
  text-align: center;
}


.img1 {
  width:65%;
  height:80%;
  border-radius: 30px;
}

.img2 {
  width:65%;
  height:80%;
  border-radius: 30px;
}

.border1 {
  border: 3px;
  border-color: black;
  border-radius: 5px;
}

.body {
  padding: 0;
}

p {
  font-size: 140%;
}

nav {
  font-size: 140%;
}

.carte {
  text-align: left;
}


/* .h3 {
  text-align: center;
  font-size: 240%;
  margin-top: 2%;
  margin-bottom: 2%;
} */

.promnews {
  border-radius: 0;
}

.h5 {
  font-size: 140%;
  text-align: center;
}

.p1 {
  font-size: 100%;
}

main {
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url(Pictures/texture-1496898_960_720.jpg);
  background-size: cover;
}

.carcard {
  width: 70%;
  float: left;
  margin-left: 15%;
}

/* .op {
    opacity: 0.5 !important;
    filter: alpha(opacity=50);
} */

.list-group{}
